{% extends 'base.html' %}
{% load static %}
{% block title %}Saharkar Saoji Masale{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/about_us.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
{% endblock %}

{% block content %}

    <!------ About US -------->
    <div class="breadcrumb-section">
        <div class="container">

            <div class="page-title">
                <h2>About Us</h2>
            </div>

            <div class="breadcrumb">
                <a href="/">HOME</a>
                <span>/</span>
                <span class="active">ABOUT US</span>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="image-wrapper">
            <img src="https://ps-grocerykart.myshopify.com/cdn/shop/files/About_Us_banner_1080x.png?v=1613721600"
                alt="Spices and Herbs" class="main-image">
        </div>

        <div class="content-section">


            <p class="description-text">
                <b>SAHARKAR SAOJI MASALE</b> is a reputable spices manufacturer known for producing genuine Saoji
                spices. With
                the focus on purity and hygiene we provide high-quality products that customers trust. Committed to
                society responsibility, Our brand embraces the philosophy of PAY BACK TO SOCIETY.
                I am excited to share our progress in our mission to provide employment to those in need. Thanks to your
                support and suggtions, we have achieved significant milestones so far.
                To date, we have directly employed over 20 individuals and have indirectly contributed to the employment
                of 25 more through our initiatives. Looking ahead, our goal over the next decade is ambitious yet
                feasible: we aim to create over 100 direct jobs and facilitate more than 500 indirect job opportunities
                over the next decade.<br><br>
            
            <b>Empowering the Community</b><br>
            Our commitment goes beyond employment; we are actively focusing on rural women’s empowerment by integrating
            local artisans into our production chain. By sourcing raw ingredients directly from local farmers, we ensure
            sustainable livelihoods while maintaining the "Farm to Fork" purity of our masalas.<br><br>
            

            <b>New Product Launch: 2026 Edition</b><br>
                In line with our vision to innovate, we are thrilled to announce the launch of our newest specialty blends:<br>
            <b>Saharkar Saoji Fish Curry Masala:</b> A smoky, tangy blend designed for the perfect coastal-style Saoji experience.<br>
            <b>Saharkar Saoji Egg Curry Masala:</b> A versatile, fiery spice mix that brings professional kitchen flavours to everyday meals.<br>
            <b>Premium Special Sabji Masala:</b> Now available in convenient Pack of 10 pouches for consistent freshness in every vegetarian dish. <br><br>

            Your ongoing support and belief in our vision are deeply appreciated. Together, we can continue to make a meaningful difference in the lives of many individuals and their communities. Thank you for being part of this journey with us.
<!-- 👇 CONTENT ke baad ye add karo -->
<div class="full-banner-image">
    <img src="{% static 'assets/images/img05.jpeg' %}" alt="Saharkar Saoji Masale" width="100%" height="auto">
</div>
            </p>

        </div>
    </div>

    <!---slider div -->

    <div class="promo-right">

        <div class="team-box active">
            <img src="{% static 'assets/images/founder.jpeg' %}" alt="">
            <h5>Founder & Visionary</h5>
            <h3>Shivanand Saharkar</h3>
            <p>The foundation of Saharkar Saoji Masale was laid by Mr. Shivanand Saharkar, whose vision was to bring
                authentic Saoji spices to people while preserving the rich culinary heritage. Additionally Our Social
                Vision is to Pay Back to Society, his dream continues to inspire every step we take.</p>
        </div>

        <div class="team-box active">
            <img src="{% static 'assets/images/co-founder.jpeg' %}" alt="">
            <h5>Co-Founder & Taste Expert </h5>
            <h3>Indu Saharkar</h3>
            <p>Behind every perfect blend is the expertise of Mrs. Indu Saharkar, whose deep knowledge of traditional
                recipes and passion for cooking ensures that every product carries the genuine taste and aroma of
                homemade Saoji masala.</p>
        </div>

        <div class="team-box active">
            <img src="{% static 'assets/images/proprietor.jpeg' %}" alt="">
            <h5>Proprietor</h5>
            <h3>Vrushabh Saharkar</h3>
            <p>Leading the brand forward is Mr. Vrushabh Saharkar, who has transformed this family dream into a growing
                business. With a strong focus on quality, hygiene, and customer trust, he is committed to expanding the
                reach of Saharkar Saoji Masale while staying true to its roots.
                We strongly believe in giving back to society. As part of our commitment, Saharkar Saoji Masale aims to
                create meaningful impact by generating 100+ direct and indirect employment opportunities, supporting
                livelihoods and contributing to the growth of our community.
                At Saharkar Saoji Masale, we don’t just make spices — we deliver tradition, trust, and taste in every
                packet, while building a better future for society.</p>
        </div>
    </div>

    <!---------- Four Features-------->
    <section class="features">
        <div class="container">

            <div class="feature-box">
                <img src="https://ps-grocerykart.myshopify.com/cdn/shop/files/image_1_5ca7afdb-8663-4a06-8011-5df3f24f7c2f.png?v=1613720910"
                    alt="">
                <div>
                    <h4>Free Shipping</h4>
                    <p>Free Shipping World Wide</p>
                </div>
            </div>

            <div class="feature-box">
                <img src="https://ps-grocerykart.myshopify.com/cdn/shop/files/image_2_a6465070-2dc8-44e5-b1e2-ac5d07628475.png?v=1613720910"
                    alt="">
                <div>
                    <h4>24 x 7 Service</h4>
                    <p>Free Shipping World Wide</p>
                </div>
            </div>

            <div class="feature-box">
                <img src="https://ps-grocerykart.myshopify.com/cdn/shop/files/image_4.png?v=1613720910" alt="">
                <div>
                    <h4>Festival Offer</h4>
                    <p>Free Shipping World Wide</p>
                </div>
            </div>

            <div class="feature-box">
                <img src="https://ps-grocerykart.myshopify.com/cdn/shop/files/image_3_fc0c4166-58d8-4375-b273-7d71884a8878.png?v=1613720920"
                    alt="">
                <div>
                    <h4>Online Payment</h4>
                    <p>Free Shipping World Wide</p>
                </div>
            </div>

        </div>
    </section>

    
{% endblock %}