{% load static %}
<!---- Footer Section ---->
    <footer class="footer">
        <div class="footer-overlay">
            <div class="container">
                <!-- Left Section -->
                <div class="footer-box newsletter">
                    <h3>Our Newsletter</h3>
                    <p>Subscribe us to get best offers designs for our Website.</p>

                    <div class="newsletter-form">
                        <input type="email" placeholder="Enter Your Email">
                        <button><i class="fa-solid fa-arrow-right"></i></button>
                    </div>

                </div>

                <!-- Center Section -->
                <div class="footer-box center-box">
                    <h2 class="logo">
                        <img src="{% static 'assets/images/logo_01.png' %}" >
                    </h2>

                    <p>
                        It is a long established fact that a reader will be distracted by the readable
                        content.
                    </p>

                    <div class="social-icons">
                        <a href="https://www.facebook.com/share/14p2qCkRFFW/" class="facebook"><i
                                class="fab fa-facebook-f"></i></a>
                        <!--<a href="" class="google"><i
                                class="fab fa-google-plus-g"></i></a>
                        <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="rss"><i class="fas fa-rss"></i></a>-->
                        <a href="https://www.instagram.com/saharkarsaojimasale?igsh=MWltdmZzMXJld281MQ==&utm_source=ig_contact_invite"
                            class="insta"><i class="fab fa-instagram"></i></a>
                        <a href="https://youtube.com/@saharkarsaojimasale-pv5nz?si=heGBw8tbBHHkBDbR" class="youtube"><i
                                class="fab fa-youtube"></i></a>
                    </div>
                </div>

                <!-- Right Section -->
                <div class="footer-box contact">
                    <div class="contact-item">
                        <i class="fa-solid fa-phone"></i>
                        <span>Call Us:+91 9689399223 / +91 7798127880</span>
                    </div>

                    <div class="contact-item">
                        <a href="https://www.google.com/maps?q=saharkar+saoji+masale+Nagpur+Maharashtra"
                        target="_blank">
                            <i class="fa-solid fa-location-dot"></i>
                        </a>
                        <span class="address">Address : Plot no.7, Near Lazzat Hotel, Parsodi Bhiwapur Road,
                            Umred.441203 Dist -
                            Nagpur,
                            Maharashtra
                            Mob 9689399223/7798127880</span>
                    </div>

                    <div class="contact-item">
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=saharkarsaoji@gmail.com&su=Order Inquiry&body=Hello, I want to know about your products"
                        target="_blank">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <span>Email ID: saharkarsaoji@gmail.com </span>
                    </div>
                </div>
                <p class="footer-text">Copyright ©2026 Design and Developed By <a href="https://www.oceansofttech.net/">Ocean Software Technologies</a></p>
            </div>
        </div>



        <!-- WhatsApp Button -->
        <a href="https://wa.me/9689399223" target="_blank" class="whatsapp-float">
            <i class="fab fa-whatsapp"></i>
        </a>

        <!------ scroll to top ---->

        <div class="tap-top">
            <i class="fa fa-arrow-up"></i>
        </div>
    </footer> 